.fade-enter {
  opacity: 0;
  transform: rotateY(-90deg);
}
.fade-enter-active {
  opacity: 1;
  transform: rotateY(0);
  transition:
    opacity 500ms,
    transform 500ms;
}
.fade-exit {
  opacity: 1;
  transform: rotateY(0);
}
.fade-exit-active {
  opacity: 0;
  transform: rotateY(90deg);
  transition:
    opacity 500ms,
    transform 500ms;
}
