.shelf-bg {
  background-color: #a27045;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.shelf-container {
  background-color: #d2a679;
  border-radius: 20px;
  padding: 10px;
}
