@tailwind base;
@tailwind components;
@tailwind utilities;

.text-overflow-2 {
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-word;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.text-overflow-1 {
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-word;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}

/* 레터 삭제 */
.card {
  transition: transform 0.3s ease-in-out;
}

.card.slide {
  transform: translateX(-100px);
}

.delete-button {
  width: 100px;
  height: 100%;
  background-color: red;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 8px 8px 0;
}

@font-face {
  font-family: 'Pretendard';
  src: url('@assets/fonts/Pretendard-Regular.woff2') format('woff2');
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Pretendard';
  src: url('@assets/fonts/Pretendard-Medium.woff2') format('woff2');
  font-stretch: normal;
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: 'Pretendard';
  src: url('@assets/fonts/Pretendard-SemiBold.woff2') format('woff2');
  font-stretch: normal;
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: 'Pretendard';
  src: url('@assets/fonts/Pretendard-Bold.woff2') format('woff2');
  font-stretch: normal;
  font-style: normal;
  font-weight: bold;
}

* {
  font-family: 'Pretendard';
}
